x64
Debug
.vs
poketechnika/Debug
poketechnika/x64
poketechnika/sfml-audio-2.dll
poketechnika/sfml-audio-d-2.dll
poketechnika/sfml-graphics-2.dll
poketechnika/sfml-graphics-d-2.dll
poketechnika/sfml-system-2.dll
poketechnika/sfml-system-d-2.dll
poketechnika/sfml-window-2.dll
poketechnika/sfml-window-d-2.dll
poketechnika/openal32.dll
/SFML
db.txt